html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-size: 10px;
}

*, *::after, *::before {
    box-sizing: inherit;
}

/* ---- VARIABLES ---- */ 

:root {
    --color-primary: #08A6E4;
    --color-secondary: #55DFB4;
    --color-tirtiary: #EB476E;

    --text-primary: #000000;
    --text-secondary: #A5A5A5;
    --text-tirtiary: #707070;
    --text-quartiary: #13253B;

    --bgn-primary: #FFFFFF;
    --bgn-secondary: #F7F7F7;

    --font-primary: Raleway;
    --font-secondary: Open Sans;
}

/* ---- HEADER ---- */

.container {
    width: 1352px;
    margin: 0 auto;
}

.header {
    width: 100vw;
    height: 7rem;
    box-shadow: 0px 3px 6px #00000029;

    display: flex;
    align-items: center;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: var(--color-primary);
    font: normal normal 300 32px/37px var(--font-primary);
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 9.5rem;
}

.nav__item {
    list-style-type: none;
}

.nav__link {
    text-decoration: none;
    color: var(--text-secondary);
    padding: 24px 1.2rem;
    border-bottom: 4px solid transparent;

    font: normal normal bold 11px/15px var(--font-secondary);
    letter-spacing: 3.28px;
    text-transform: uppercase;
}

.nav__link:hover {
    color: var(--text-primary);
    border-color: var(--color-primary);
}


/* ---- HERO ---- */ 

.hero {
    width: 100vw;

}

.hero__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

   
    

    
}

.hero__logo {
    font: normal normal normal 4.9rem/5.7rem Raleway;
    margin-top: 130px;
    margin-bottom: 20px;
}

.hero__text {
    font: normal normal normal 1.6rem/2.2rem var(--font-secondary) ;
    margin-bottom: 38px;
}

.hero__btn {
    padding: 22px 157px;
    font: normal normal bold 1.6rem/2.2rem var(--font-secondary);

    color: #FFFFFF;
    background-color: var(--color-primary);

    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    border: none;
} 

.hero__bgn {
    background-image: url(imgs/Background.png);
    width: 100vw;
    height: 594px;
    background-position: center;
}






