body {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

/* ---- Variables ---- */

:root {
    --color-primary: #08A6E4;
    --color-secondary: #FB3B64;
    --color-tirtiary: #55DFB4;

    --font-color-primary: #000000;
    --font-color-secondary: #A5A5A5;
    --font-color-tirtiary: #707070;

    --font-color-btn: #fff;

    --font-title: Raleway;
    --font-text: Open Sans;
}

.title--large {
    font-family: var(--font-title);
    font-size: 3.063rem;
    font-weight: 450;
}

.title--medium {
    text-align: center;
    font-family: var(--font-title);
    font-size: 2.25rem;
    color: var(--font-color-primary);
}

.title--small {
    text-align: center;
    font-family: var(--font-title);
    font-size: 1.25rem;
    color: var(--font-color-primary);
    font-weight: 800;

}




.container {
    width: 1352px;
    margin: 0 auto;
}

/* ---- Header ---- */

.header {
    height: 70px;
    box-shadow: 0px 3px 6px #00000029;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;


}

.header__logo {
    text-decoration: none;
    
    color: var(--color-primary);

    font-family: var(--font-title);
    font-size: 2rem;
    font-weight: 300;
}

.header__nav {
    display: flex;
    gap: 95px;
}

.header__nav a {
    text-decoration: none;
    text-transform: uppercase;

    padding: 21px 22px;

    color: var(--font-color-secondary);

    font-family: var(--font-text);
    font-size: 0.688;
    font-weight: 700;
    letter-spacing: 0.205rem;

    border-bottom: 4px solid transparent;
}

.header__nav a:hover {
    color: var(--font-color-primary);
    border-color: var(--color-primary);
}

/* ---- Opening ----*/
.opening {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opening__container {
    margin-top: 130px;

    text-align: center;
}

.opening__title {
    margin-bottom: 20px;
}

.opening__text {
    font-family:var(--font-text);
    font-size: 1rem;

    margin-bottom: 38px;
}

.btn {
    color: var(--font-color-btn);
    font-family: Open Sans;
    font-weight: bold;
    border: none;
}

.btn--primary {
    background-color: var(--color-primary);    
    border-radius: 40px;
}

.btn--large {
    padding: 22px 157px;
}

.opening__image {
    width: 100%;
    height: auto;
}

/* ---- Statistics ---- */

.statistics__container {
    display: flex;
    justify-content: space-between;

    margin-top: 100px;
}

.statistics__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics__number {
    letter-spacing: 6px;

    margin-top: 14px;
    margin-bottom: 19px;
}

.statistics__circle {
    height: 62px;
    width: 62px;

    background-color: var(--color-secondary);

    border-radius: 50%;

    position: relative;
}

.statistics__img {
    position: absolute;
    left: 30px;
    top: 4px;
}

.statistics__text {
    font-family: Open Sans;
    color: var(--font-color-secondary);
    font-size: 1.25rem;

    text-align: center;
}

.statistics__card:nth-child(1) .statistics__circle {
    background-color: var(--color-secondary);
}

.statistics__card:nth-child(2) .statistics__circle {
    background-color: var(--color-primary);
}

.statistics__card:nth-child(3) .statistics__circle {
    background-color: var(--color-tirtiary);
}

.statistics__card:nth-child(2) .statistics__img {
    top: 14px;
    left: 20px;
}

.statistics__card:nth-child(3) .statistics__img {
    top: 7px;
    left: 28px;
}




